<div class="wrapper">
  <h1>Change Password</h1>

  <div class="imageWrapper">
    <img src="assets/images/user-icon.svg"/>
  </div>

  <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm">
    <div class="inputWrapper">
      <div class="inputIcon">
        <img src="assets/images/key.svg" aria-hidden="true">
      </div>
      <input type="password" placeholder="Previous password" formControlName="previousPassword" [ngClass]="validPreviousPassword ? '' : 'error'" />
    </div>
    <div class="inputWrapper">
      <div class="inputIcon">
        <img src="assets/images/double-key.svg" aria-hidden="true">
      </div>
      <input type="password" placeholder="New password" formControlName="newPassword" [ngClass]="validNewPassword ? '' : 'error'" />
    </div>

    <p *ngIf="invalidCredentials">Either the previous password or the new password doesn't meet the minimum requirement of 6 characters</p>
    <button id="registerButton" type="submit">Change password</button>

  </form>
</div>
